@using Movid.Marketing.Application
@section PageTitle{
    Better than Physical Therapy Exercise Handouts
}

@section PageDescription{
    Movid physical therapy home exercise programs replaces those hard to understand exercise handouts nobody can read.
}

<div class="row">
    <div class="col-md-7">
        

        <img src="~/Content/img/productshot.png" class="img-responsive" />
       
    
    </div>
    <div class="col-md-5">
        
        <h3>
            Paper handouts are boring, upgrade to video instead!
        </h3>
        <p class="fifteen-margin-top" style="font-size: 16px; margin-top:30px">
            3 months free, nothing to download,
            hundreds of video based exercises!
        </p>
        
        <div class="row" class="fifteen-margin-top" style="font-size: 16px; margin-top:30px">
            <div class="col-xs-4"><i class="icon-hand-down icon-3x pull-right" style="color:#faa732"></i></div>
            <div class="col-xs-8" style="font-size: 16px">Sign up for a free trial in seconds:</div>
        </div>
      
        <form action="@Html.RegisterLink()" method="get" novalidate>
            <strong>Email:</strong>
            <input type="email" value="" placeholder="email address" name="email" class="form-control" id="mce-EMAIL">
                   
            <input type="submit" value="Start a Free Trial" name="subscribe" class="form-control btn btn-orange">
        </form>
    </div>
    
</div>

<div class="row fifteen-margin-top">
    <div class="col-md-4">
         
        <blockquote>
            <p>"The biggest problem [with physical therapy] is  
                compliance. They do the exercise and forget it by the 
                time they get home."</p>
            <small>Jennifer Emmons, Doctor of Osteopathic Medicine</small>
        </blockquote>
        
    </div>
    <div class="col-md-4">
        <blockquote>
            <p>"This product will save me about a half hour a day instead 
                of making copies."</p>
            <small>M Carli, Physical Therapist</small>
        </blockquote>
        
    </div>
    <div class="col-md-4">
        <blockquote>
            <p>"If I’m just reading the instructions on the sheet, I  
                wasn’t able to easily understand what they wanted 
                me to do."</p><small> Andrew Gustafson, Therapy Patient</small>

        </blockquote>

    </div>
</div>
    


<div class="row fifteen-margin-top">
    <div class="col-md-7">  
        <div class=" embed-container" style="max-width: 580px">
            <iframe src="http://player.vimeo.com/video/76365778?byline=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p>Quadraped.mov from <a href="http://vimeo.com/user19571855">Movid</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
    </div>
    <div class="col-md-5">
        
        <h4>Paper vs. Video:</h4>
    
        <p>The course of healthcare has changed. The importance of efficient and high quality care is now not a luxury but a necessity. 
            Gradually, reimbursements will be tied to the quality of the outcomes achieved in clinical settings. 
            And one avenue to improve outcomes in physical therapy patients is to improve their compliance with home exercise programs. 
        </p>

        <p>
            One easy way to do so is to change the medium used! Video has been shown superior to paper in several peer reviewed articles 
            ( Roddney, et al; 2002 and  Reo JA; 2004). Video not only improved compliance but also improved exercise technique and form! 

            So consider changing things up.  Utilize Movidhep as your source to quickly and easily create and send HD video based home exercise programs. 
            There are no software downloads, complicated contracts or special equipment. Give Movid a try and get MORE! 
            More compliance, More referrals and More revenue    
        </p>
    
        <ul>
            <li>90 Day Free Trial</li>
            <li>Videos instead of Crude Stick Figures</li>
            <li>Your Clinic's Information, Your Logo</li>
            <li>Fully Editable Exercises</li>

        </ul>
    
    </div>
</div>