@using Movid.Marketing.Application
@section PageTitle{
    Video based Home Exercise Programs for your Patients
}

@section PageDescription{
    Learn how Movid Home Exercise Programs can help you market your clinic.  Don't be content with 
    traditional forms of advertising.  Especially the ones your other competitors are using.
}

<div class="row">
    <div class="col-md-7">
        

        <img src="~/Content/img/productshot.png" class="img-responsive" />
       
    
    </div>
    <div class="col-md-5">
        
        <h3>
            Video based Home Exercise Programs for your Patients
        </h3>
        <p class="fifteen-margin-top" style="font-size: 16px; margin-top:30px">
            3 months free, nothing to download
            hundreds of video based exercises!

        </p>
        
        <div class="row" class="fifteen-margin-top" style="font-size: 16px; margin-top:30px">
            <div class="col-xs-4"><i class="icon-hand-down icon-3x pull-right" style="color:#faa732"></i></div>
            <div class="col-xs-8" style="font-size: 16px">Sign up for a free trial in seconds:</div>

        </div>

      
        <form action="@Html.RegisterLink()" method="get" novalidate>
            <strong>Email:</strong>
            <input type="email" value="" placeholder="email address" name="email" class="form-control" id="mce-EMAIL">
                   
            <input type="submit" value="Start a Free Trial" name="subscribe" class="form-control btn btn-orange">
        </form>
    </div>
    
</div>

<div class="row fifteen-margin-top">
    <div class="col-md-4">
         
        <blockquote>
            <p>"The biggest problem [with physical therapy] is  
                compliance. They do the exercise and forget it by the 
                time they get home."</p>
            <small>Jennifer Emmons, Doctor of Osteopathic Medicine</small>
        </blockquote>
        
    </div>
    <div class="col-md-4">
        <blockquote>
            <p>"This product will save me about a half hour a day instead 
                of making copies."</p>
            <small>M Carli, Physical Therapist</small>
        </blockquote>
        
    </div>
    <div class="col-md-4">
        <blockquote>
            <p>"If I’m just reading the instructions on the sheet, I  
                wasn’t able to easily understand what they wanted 
                me to do."</p><small> Andrew Gustafson, Therapy Patient</small>

        </blockquote>

    </div>
</div>
    


<div class="row fifteen-margin-top">
      <div class="col-md-7">  
         <div class=" embed-container" style="max-width: 580px">
            <iframe src="http://player.vimeo.com/video/76365778?byline=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p>Quadraped.mov from <a href="http://vimeo.com/user19571855">Movid</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
    </div>
    <div class="col-md-5">
        
            <h4>How Movid HEP Helps:</h4>
    
        <p>Movid home exercise programs allows physical therapists and other healthcare providers access to an 
        exclusive video library of hundreds of exercises that can be selected, customized 
        and emailed to individual patients as a part of their rehabilitation. </p>
        
        <p>Throw away the paper and provide your patients with high quality instruction 
        that will improve compliance and satisfaction while leading to better outcomes 
        and increased referrals!</p>
    
        <ul>
            <li>90 Day Free Trial</li>
            <li>Transparent Pricing</li>
            <li>Your Clinic's Information, Your Logo</li>
            <li>Fully Editable Exercises</li>

        </ul>
    
    </div>

</div>

