@section PageTitle{
    Marketing your Physical Therapy Clinic with Movid HEP
}

@section PageDescription{
    Learn how Movid Home Exercise Programs can help you market your clinic.  Don't be content with 
    traditional forms of advertising.  Especially the ones your other competitors are using.
}
<h2 class="no-top-margin">Cutting Edge Physical Therapy Marketing with Movid HEP</h2>



<div class="row">
    <div class="col-md-8">
        <p>
            Marketing your physical therapy clinic used to be easy.  Putting an ad in the local newspaper and counting on 
             physician referrals was usually good enough.  With direct access becomming more popular and 
            less physician referrals you also have a have a great online marketing strategy to compete.  
        </p>
        
        <h4>Your basic online marketing strategy should include: </h4>
        
        <ul>
            <li>Informative Website</li>
            <li>Local Listing on Google Maps or Yellow Pages</li>
            <li>Active Social Media</li>
        </ul>
        
        <h4>But Is that enough?</h4>
        
       
    
    </div>
    <div class="col-md-4">
        <i class="icon-level-down icon-2x" style="color:#faa732"></i> Want to learn more about marketing your PT clinic?
        <!-- Begin MailChimp Signup Form -->
        

        
        <form action="http://movidhep.us3.list-manage.com/subscribe/post?u=c5021625a5be9fbac1a4c1a92&amp;id=56fb7a863c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                
                    
            <input type="email" value="" placeholder="email address" name="EMAIL" class="form-control" id="mce-EMAIL">
                    
        
                 
            <input type="submit" value="Subscribe to our Marketing Tips Email List" name="subscribe" class="form-control btn btn-orange">
                 
        
        </form>
    </div>
    <!--End mc_embed_signup-->
    
</div>

<div class="row fifteen-margin-top">
    <div class="col-md-6">
         
            The problem with traditional online marketing is once you've set up
            all the basics and spent a whole ton of money those items 
            just sit around waiting for new patients to find you.  
            <strong>What about the patients you already have?</strong>
        
    </div>
      <div class="col-md-6">
          Email newsletters blast out messages regardless of how your patients interacted with your clinic. 

          <strong>These message are annoying if they aren't interesting to the reader.</strong>  
          Should a weekend warrior with tennis elbow get the same messaging as the baby boomer
          with a total knee replacement?  <em>Of course not.</em>
        
    </div>

    </div>


<div class="row fifteen-margin-top">
      <div class="col-md-6">  
         <div class=" embed-container">
            <iframe src="http://player.vimeo.com/video/76365778?byline=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p>Quadraped.mov from <a href="http://vimeo.com/user19571855">Movid</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
        </div>
    </div>
    <div class="col-mg-6">
        
            <h4>How Movid HEP Helps:</h4>
        <p>
            Movid HEP was built around using video based home exercise programs for more than just replacing paper handouts.  You can use
            our 
        </p>

        <p></p>
    </div>

</div>

