   
@section PageTitle{
    Bios about the people behind Movid Home Exercise Programs
}

@section PageDescription{
    Bios about the people behind Movid Home Exercise Programs, Dr. Mike Carucci, Ray Wolters and John Farrell.
}


<h2 class="no-top-margin">About Movid</h2>
<div class="row" id="about">
    <div class="col-lg-12">
        
        <div class="media">
            <img src="/Content/img/authors/34.jpg" class="pull-left img-circle">
            <div class="media-body">
                <h3>Mike Carucci, DC</h3>
                <p>Mike is a staff Chiropractor in the Department of Rehabilitation
                    Services within the VA Connecticut Healthcare System. Mike has been in
                    practice since 2006 and has worked in a variety of clinical settings
                    from small rural offices to multidisciplinary private practices and
                    now as part of the VA hospital system.</p>
                <p> In addition, Mike is an
                associate clinical professor at the University of Bridgeport College
                of Chiropractic and an adjunct professor of Health Sciences at Goodwin
                College.</p>
            </div>
                 
        </div>
    
                <div class="media">
            <img src="/Content/img/authors/ray.jpg" class="pull-left img-circle">
            <div class="media-body">
                <h3>Ray Wolters</h3>
                <p>Ray Wolters is the owner of KWB Media LLC a marketing company which specializes in video production. 
                    Ray has nearly 20 years of television and film experience ranging from broadcast TV to feature films and has worked
                    on several long form TV shows for the ESPN and Discovery Channel, as well as many medical programs for St. Francis 
                    Hospital, Pfizer and Abbott Labs. He has also been involved in numerous internal marketing campaigns for large companies
                     such as Pfizer, PepsiCo and Unilever.</p>
            </div>
                 
        </div>
    
        

        <div class="media">
            <img src="/Content/img/authors/1.jpg" class="pull-left img-circle">
            <div class="media-body">
                <h3>John Farrell</h3>
                <p>John is a passionate programmer from Hartford CT with over 10 years of web design and development experience. With experience
                    ranging from Facebook games, fleet routing software and major ecommerce websites he brings a wide array of experience and skills
                    to Movid.
                </p>
                <p>While John isn't loving the quirks of JavaScript or obsessing over Movid's customer happiness analytics he long distance runs, salsa dances and plays in a recreational volleyball league. Thankfully not all at the same time.</p>
            </div>
                 
        </div>

    </div>
</div>

