@model dynamic
@section PageTitle{
    Watch videos on the Movid Home Exercise Programs
}

@section PageDescription{
    Watch videos of Movid Home Exercise Programs in action.  Our videos showcase our white labeling or branding features and how to get started with our home exercise program builder.
}

<h2 class="no-top-margin">Key Features of Movid HEP </h2>
<div class="row fifteen-margin-bottom" >
    <div class="col-lg-6 ">
        <h2>White Labeling - Showcase your Clinic</h2>
        <div class="embed-container">
            <iframe src="https://player.vimeo.com/video/76365922?byline=0&amp;color=ffffff"  frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="col-lg-6">
        <h2>HEP Builder</h2>
        <div class="embed-container">
            <iframe src="//player.vimeo.com/video/76149049?byline=0&amp;color=ffffff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>
