@model dynamic
   
@section PageTitle{
    Movid HEP Pricing
}

@section PageDescription{
    Movid HEP Subscription Prices and Feature Information
}




<h2 class="no-top-margin">All plans come with</h2>
<div class="row">
    <div class="col col-lg-6">
        <strong>30 Day Free Trial</strong>
        <p>We expect Movidhep to seamlessly integrate in to your work flow and add value from Day 1. If not, cancel and owe nothing.</p>
    </div>
    <div class="col col-lg-6">
        <strong>Transparent Pricing</strong>
        <p>There are no setup fees, no long-term contracts, and no extra fees for phone support or email support.</p>
    </div>
</div>
<div class="row">
    <div class="col col-lg-6">
        <strong>Your Clinic's Information, Your Logo</strong>        
        <p> Showcase your clinics details and brand, not ours, when you email a program to your patient .</p>
    </div>
    <div class="col col-lg-6">
        <strong>Fully Editable Exercises</strong>
        <p>
            All exercises are fully customizable.  Change names, patient instructions and set your own custom categories from within our application.
        </p>
    </div>
</div>


<div class="row fifteen-margin-top" id="pricing">
    <div class="col col-sm-3">
        <div class="panel">
            <div class="panel-heading panel-heading-call">
                Limited Time
                <p class="price">Free Trial</p>
                Give us a try
            </div>
            <div class="panel-body">
                <p>
                    Movid is currently giving away <strong>3 months</strong> of access 
                    to our founding customers. Spend some time with Movid HEP and you'll
                    see how powerful video HEP can help grow your clinic.
                </p>
                <p>
                    <a href="https://app.movidhep.com/account/register" style="font-size: 16px; font-weight: bold">Sign up for a new account and use Movid for free</a>
                </p>
                </div>
          
        </div>
    </div>
    
    <div class="col col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                Single Clinic
                <p class="price">$29.99</p>
                Monthly for Single Clinic
            </div>
            
            <ul class="list-group">
                <li class="list-group-item">Perfect for one person clinics or per diem practitioners.</li>
                <li class="list-group-item">Single Login</li>
            </ul>
        </div>
    </div>
       <div class="col col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                Multi Clinic
                <p class="price">$24.99</p>
                Monthly Per Physical Location
            </div>
            <ul class="list-group">
                <li class="list-group-item">Single office/location with unlimited number of providers.</li>
                <li class="list-group-item">Unique Login for each clinician in your office.</li>
            </ul>
        </div>
       </div>    
    <div class="col col-sm-3">
        <div class="panel">
            <div class="panel-heading">
                Academic
                <p class="price">$19.99</p>
                Monthly per Class
            </div>
         <ul class="list-group">
            <li class="list-group-item">Unique Login for each student in your classroom.</li>

        </ul>
        </div>
    </div>

</div>
        






