@model dynamic
@section PageTitle{
    Sample Physical Therapy Exercise Videos
}

@section PageDescription{
    Sample of the quality videos you can send to your patients as part of their home exercise program.
}
<h2 class="no-top-margin">Sample Videos</h2>
<div class="row fifteen-margin-bottom" >
    <div class="col-sm-6 ">
        <div class="embed-container">
            <iframe src="//player.vimeo.com/video/72877035" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="embed-container">
            <iframe src="//player.vimeo.com/video/72876570" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row fifteen-margin-top" >
    <div class="col-sm-6 ">
        <div class="embed-container">
            <iframe src="//player.vimeo.com/video/75528852" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="embed-container">
            <iframe src="//player.vimeo.com/video/72877369" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row fifteen-margin-top ">
    <div class="col-lg-12">
        
        <a href="@Url.Action("PublicLibrary", "PublicLibrary")">Our Full Exercise Library</a>
    </div>

</div>