@model Movid.App.Models.ForgotPassword

@{
    ViewBag.Title = "Forgot your Password?";
}
<h3>Forgot your Password</h3>
<p>
    If you can't sign in or have forgotten your password, enter your email address below, and we will send you instructions to get you signed in.
</p>


<div class="row">
    <div class="col-lg-12">
        

@using (Html.BeginForm("Forgot", "Account", null, FormMethod.Post, new {@class="form-horizontal"})) {
    
   
        <div class="form-group">
            <label class="control-label col-lg-2">Email</label>
            <div class="col-lg-4">
                @Html.TextBoxFor(m => m.Email, new {@class="form-control"})
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
    
        @Html.AntiForgeryToken()
    
        <input type="submit" value="Send Account Recovery Email" class="btn btn-blue btn-lg fifteen-margin-top" />
}


    </div>
</div>