@model Movid.App.Models.LoginModel

@{
    ViewBag.Title = "Password reset email on its way";
}

<h3>Password Reset Email is on its way!</h3>
<p>
    Use the sent to your email to reset your password.
</p>