@model Movid.App.Models.AccountSettings


<h3 style="margin-top: 0px">Settings</h3>
<em>These settings control the information that patients see when they view any home exercise Programs prescribed to them.  Change
    these settings to highlight your clinic and provide ways for patients to get in touch with you.
</em>
<hr />

@using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    <div class="row" ng-controller="settingsCntrl">
        <div class="col-md-6">

            <h4>Default Greeting:</h4>
            <em>Its important not to include patient information in your greeting to comply with data privacy regulations.  Remember, you can
                customize your greeting or include patient specific notes in the Program builder.
            </em>
            <textarea name="defaultGreeting" style="height: 160px; width: 100%; margin-top: 15px" class="form-control">@Model.DefaultGreeting</textarea>
            <hr/>
    
            <input type="submit" value="Save Settings" class="btn btn-large btn-orange"/>
        
        </div>
        <div class="col-md-6">
            <a class="btn btn-large btn-blue" ng-click="sendRandomToLoggedInUser()">Email Sample Program to Me</a>
        </div>

        <div class="col-md-6">
           
        </div>

        
    </div>
    }