@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

 <h3>We're very sorry, an error has occured.</h3>

<p>We've logged the error and will be fixing as soon as possible.</p>

<p>For support email <a href="mailto:john@movidhep.com">john@movidhep.com</a>
    or call 860-778-2522.
</p>