@model Movid.Shared.Infrastructure.GridFor.GridViewModel

<div class="input-group">
      <input type="text" class="form-control" name="term" id="exercise-search" placeholder="search terms" value="@Model.SearchTerm" />
      <span class="input-group-btn">
        <input type="submit" class="btn btn-default" value="Search"></input>
      </span>
    </div>

